
<h1>
  <%= @company.name %>
  <%= @company.org_no %>
</h1>

<table class="border-collapse border border-slate-500">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Brand</th>
    <th>Description</th>
  </tr>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td class="border border-sky-800"><%= product.name %></td>
      <td class="border border-sky-800"><%= product.price %></td>
      <td class="border border-sky-800"><%= product.brand %></td>
      <td class="border border-sky-800"><%= product.description %></td>
    </tr>
  <% end %>
  </tbody>

</table>



<%= link_to "Create product", new_company_product_url(@company.id) %>

<%= render partial: "chat/chat_window", locals: {company_id: @company.id, chat_id: @chat.id}%>
